:root {
    /* caldendar values */
    --cal-day-color: #EEF4F4;
    --cal-monthtxt-color: white;
    /*yeet*/
    --cal-date-color: #777;
    /* page values */
    --title-color: #E0DDCF;
    --top-bar-color: #534B52;
    /*--font-color: #d0cfcc;*/
    --font-color: var(--top-bar-color);
    --link-color: #F1F0EA;
    --calculated-hover: #474448;
    --page-background: #2D232E;
    --disabled-background: #5E5E5E;
    --hover-text: #000;
    --error-msg: darkred;
}

.cButton {
    color: var(--title-color)!important;
}

.cButton:hover {
    color: var(--link-color)!important;
}

.weekdays {
    background-color: var(--title-color)!important;
}

.days li .study {
    background: var(--title-color)!important;
    color: var(--cal-date-color) !important;
}