:root {
    --cal-width: 45%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

hr {
    height: 2px;
    border: none;
}

#mainBody {
    text-align: center;
}

.pageTitle {
    font-size: 20px;
}

#topBar {
    --border-radius: 10px;
    margin: 0 auto 10px;
    text-align: center;
    padding: 10px 50px;
    line-height: 28px;
    width: fit-content;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.item {
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
    transition: color 0.25s ease-out;
}

#test:hover {
    border-radius: 5px;
    cursor: not-allowed;
}

.selected {
    text-decoration: underline;
}

.item:hover {
    border-radius: 5px;
    cursor: pointer;
}

.section {
    line-height: 25px;
}

.inputLabel {
    font-size: 18px;
}

#blackout {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgb(0, 0, 0, 0.75);
}

#themepopup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#themebox {
    position: absolute;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    z-index: 99;
}

#themecontent {
    z-index: 99;
}

#themebutton {
    display: inline-block;
    position: absolute;
    margin: 15px;
    padding: 5px 8px;
    border-radius: 8px;
    border: 0;
}

.inputBox {
    border-radius: 5px;
    border: 0;
    padding: 3px;
    text-align: center;
    margin-top: 3px;
}

#numSub {
    font-size: 16px;
}

table {
    margin: 0 auto;
    padding: 0;
}

.submittedTemp {
    display: none;
}

.cButton {
    border-radius: 8px;
    border-width: 0;
    padding: 5px;
    font-size: 16px;
    display: none;
}

.section:has .cButton {
    padding-top: 0;
}

.cButton:hover {
    cursor: pointer;
}

#goback {
    margin-bottom: 15px;
}

#subject-section {
    display: none;
}

.table-head {
    text-align: center;
    width: 120px;
    padding: 3px;
    margin: 0 auto;
}

.subNames,
.subDates,
.subDiff {
    width: 115px;
}

sup {
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
}

#study-dates {
    width: fit-content;
    margin: 0 auto;
}

.dateList {
    text-align: left;
}


/* CALENDAR CSS */

#calendar {
    width: 80%;
    margin: 0 auto;
}

.single-cal {
    display: inline-block;
    width: var(--cal-width);
    vertical-align: top;
    padding: 0;
    margin: 0 0 2.5% 25px;
    overflow: hidden;
    border-radius: 15px;
}

.month {
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.weekdays {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.days li .active {
    padding: 3px;
    border-radius: 5px;
}

.days li .study {
    padding: 3px;
    border-radius: 5px;
}

#calendar-links {
    width: fit-content;
    margin: 0 auto;
    margin-top: 0;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
}


/* Media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}