:root {
    --cal-width: 45%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    background-color: var(--page-background);
}

hr {
    height: 2px;
    border: none;
    background-color: var(--font-color);
}

#mainBody {
    text-align: center;
}

.pageTitle {
    font-size: 20px;
    color: var(--title-color);
}

#topBar {
    --border-radius: 10px;
    margin: 0 auto 10px;
    text-align: center;
    padding: 10px 50px;
    line-height: 28px;
    width: fit-content;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--top-bar-color);
}

#carryYear {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.item {
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
    transition: color 0.25s ease-out;
    color: var(--link-color);
}

#test:hover {
    border-radius: 5px;
    cursor: not-allowed;
    background-color: var(--disabled-background);
    color: var(--hover-text);
}

.selected {
    text-decoration: underline;
}

.item:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--title-color);
    color: var(--hover-text);
}

.section {
    line-height: 25px;
}

.inputLabel {
    font-size: 18px;
}

#blackout {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgb(0, 0, 0, 0.75);
}

#themepopup {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

dialog {
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--top-bar-color);
}

dialog::backdrop {
    background-color: hsl(255, 0%, 0%, 0.5);
}

#themeChoice {
    border-radius: 8px;
    border-width: 0;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 3px;
    font-size: 16px;
    background-color: var(--calculated-hover);
    color: var(--title-color);
}

#themeChoice:hover {
    cursor: pointer;
    background-color: var(--title-color);
    color: var(--font-color);
}

.darkButton {
    border-radius: 8px;
    border: 0;
    background-color: var(--top-bar-color);
    color: var(--title-color);
}

.topLeft {
    margin: 10px 0 0 10px;
    padding: 5px 8px;
}

#topLeftButtons {
    display: inline-block;
    position: absolute;
}

#themeTitle {
    padding: 3px;
    line-height: 30px;
}

.calPicker {
    width: 18px;
    height: 16px;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 5px;
    border: 0;
    padding: 0px;
    text-align: center;
}

.calPicker::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.inputBox {
    border-radius: 5px;
    border: 0;
    padding: 3px;
    text-align: center;
    margin-top: 3px;
    background-color: var(--link-color);
}

#numSub {
    font-size: 16px;
}

table {
    margin: 0 auto;
    padding: 0;
}

.submittedTemp {
    display: none;
}

.cButton {
    border-radius: 8px;
    border-width: 0;
    padding: 5px;
    font-size: 16px;
    display: none;
    background-color: var(--font-color);
    color: var(--page-background);
}

.section:has .cButton {
    padding-top: 0;
}

#sbj-form {
    margin: 0 auto;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--title-color);
}

.cButton:hover {
    cursor: pointer;
    background-color: var(--calculated-hover);
    color: var(--font-color);
}

#goback {
    margin-bottom: 15px;
}

.subDiff {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    background-color: var(--link-color);
}

.subDiff::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--top-bar-color);
}

#subject-section {
    display: none;
}

.table-head {
    text-align: center;
    width: 120px;
    padding: 3px;
    margin: 0 auto;
}

.subNames,
.subDates,
.subDiff {
    width: 115px;
}

.indvDate {
    width: 18px;
    height: 16px;
    margin: 1px;
}

.subYearVal {
    width: 40px;
}

#yearCheck {
    font-size: 15px;
}

sup {
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
}

#study-dates {
    width: fit-content;
    margin: 0 auto;
}

#returnDates {
    width: fit-content;
    margin: 5px auto;
    padding: 8px 3%;
    border-radius: 10px;
    background-color: var(--title-color);
}

.dateList {
    text-align: left;
}


/* CALENDAR CSS */

#calendar {
    width: 80%;
    margin: 0 auto;
}

.single-cal {
    display: inline-block;
    width: var(--cal-width);
    vertical-align: top;
    padding: 5px;
    overflow: hidden;
    border-radius: 50px;
}

.month {
    padding: 30px 0;
    width: 100%;
    text-align: center;
    background: var(--top-bar-color);
}

.monTitle {
    font-style: italic;
    font-size: 18px;
}

.month ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--cal-monthtxt-color);
}

.weekdays {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: var(--cal-weekday-color);
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    color: var(--top-bar-color);
}

.days {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background: var(--cal-day-color);
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--cal-date-color);
}

.days li .active {
    padding: 3px;
    border-radius: 5px;
    background: var(--top-bar-color);
    color: white !important;
}

.days li .study {
    padding: 3px;
    border-radius: 5px;
    background: var(--cal-weekday-color);
    color: white;
}

#calendar-links {
    width: fit-content;
    margin: 0 auto;
    margin-top: 0;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--top-bar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--calculated-hover);
}


/* Media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
    .single-cal {
        width: 80%;
        margin: 0;
    }
}

@media screen and (max-width:528px) {
    #themebutton {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
    .subNames,
    .subDates,
    .subDiff {
        width: 100px;
    }
    .indvDate {
        width: 17px;
    }
    .subYearVal {
        width: 40px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}


/* Chrome, Safari, Edge, Opera */

.indvDate::-webkit-outer-spin-button,
.indvDate::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

.indvDate[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

footer {
    margin-top: auto;
}

.bottomlinks>ul>li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

.bottomlinks>ul>li>a:hover {
    color: var(--title-color);
}

.bottomlinks>ul>li>a {
    text-decoration: none;
    color: var(--font-color);
}

#errormsg {
    color: var(--error-msg);
}

#feedbackButton {
    text-align: center;
    margin: 0 auto 15px auto;
    padding: 5px 8px;
    width: fit-content;
}

.darkButton:hover {
    background-color: var(--calculated-hover);
    color: var(--link-color);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#saveNameLabel {
    color: var(--title-color);
    font-size: 16px;
}

#newSaveName {
    margin: 5px 0 5px 0;
    padding: 3px;
    border-radius: 3px;
    border-width: 0;
    max-width: 140px;
}

.saveDialogTitle {
    color: var(--title-color);
    margin: 10px 0 0px 0;
    font-size: 16px;
}

.modalButton {
    border-radius: 8px;
    border-width: 0;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 3px;
    font-size: 16px;
    background-color: var(--calculated-hover);
    color: var(--title-color);
}

.modalButton:hover {
    cursor: pointer;
    background-color: var(--title-color);
    color: var(--font-color);
}

#saveInput {
    margin: 5px 0 5px 0;
    padding: 3px;
    border-radius: 3px;
    border-width: 0;
    width: 140px;
}