h1 {
    text-align: center;
    color: var(--title-color);
}

h2 {
    text-align: center;
}

.main-content {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    background-color: var(--title-color);
}

.main-content>ul {
    width: 90%;
    list-style-position: inside;
}

.main-content>p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.tut-content>p {
    width: 90%;
    margin: 0 auto;
}

.tut-content {
    width: 60%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    text-align: left;
    background-color: var(--title-color);
}

.tut-content>ol {
    width: 90%;
    list-style-position: inside;
    line-height: 30px;
}

.pic-content>p {
    width: 90%;
    margin: 0 auto;
}

.pic-content {
    width: 60%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    text-align: left;
    background-color: var(--title-color);
}

.pic-content>ol {
    width: 90%;
    list-style-position: inside;
    line-height: 30px;
}

.pic-content>ol>li>a>img {
    height: auto;
    width: 80%;
    align-content: center;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
}

#coffeebutton {
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width:540px) {
    .main-content {
        width: 80%;
    }
    .main-content>ul {
        width: 100%;
        /* list-style: none; */
        padding: 0;
        list-style-position: inside;
        line-height: 20px;
    }
    .tut-content {
        width: 80%;
    }
    .pic-content {
        width: 80%;
    }
}

@media screen and (max-width:450px) {
    .main-content {
        width: 80%;
    }
    .main-content>ul {
        width: 100%;
        /* list-style: none; */
        padding: 0;
        list-style-position: inside;
        line-height: 20px;
    }
    .tut-content {
        width: 80%;
    }
    .tut-content>ol {
        padding: 0;
    }
    .pic-content {
        width: 80%;
    }
    .pic-content>ol {
        padding: 0;
    }
}